.base{
    background: black;
    width: 5%;
    height: 100px;
    margin: 0 auto;
}

.box{
    background: black;
    width: 200px;
    margin: auto;
    padding: 10px;
    border-radius: 10px;
}

.light{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: auto;
}

.lightRed{
    background: red;
}
.lightYellow{
    background: yellow;
    margin-top: 10px;
}
.lightGreen{
    background: green;
    margin-top: 10px;
}

.lightPurple{
    background: purple;
    margin-top: 10px;
}

/* */
.red{
    box-shadow: 0 0 50px red;
}
.yellow{
    box-shadow: 0 0 50px yellow;
}
.green{
    box-shadow: 0 0 50px green;
}

.purple{
    box-shadow: 0 0 50px purple;
}